table
{
	display: block;
}
table.RDGRID thead 
{
    display: block;
    background-color: 6495ed;
}
table.RDGRID tbody 
{
    display: block;
    overflow-y: auto;
    height: 600px;
}

table.RDGRID tr {
  display: table;
  table-layout: fixed;
  width:100%;
}

table.RDGRID td {
 	width:10%;
	word-wrap: break-word;
}


.RDGRID_ROW_TITLE
{
	background-color: 6495ed;
}


.RDGRID_ROW {
	height: 30px;
}


.RDGRID_CELL {
	background-color: transparent !important;
}

